#mc_embed_signup {
    background: #F0F0F0;

    form {
        margin: 0 auto;
        max-width: 1000px;
    }
    .mc-fields-holder {
        white-space: nowrap;
    }

    &_scroll {
        margin: 0 70px;

        h1 {
            text-align: center;
            font: 30px Roboto, "lucida grande", tahoma, sans-serif;
            color: #686b70
        }
        .submit_block {
            text-align: center;
            margin-bottom: 40px;
        }
    }
    .mc-field-group {
        width: 32%;
        float: left;
        clear: none;
        margin-left: 1%;

        input {
            box-sizing: border-box;
            border-radius: 3px;
        }
        &:first-child {
            margin-left: 0;
            width: 34%;
        }
    }
}
#mc-embedded-subscribe {
    background-color: #cc3a41;
    color: #ffffff;
    display: inline-block;
    padding: 8px 25px;
    font: normal 20px Roboto, "lucida grande", tahoma, verdana, arial, sans-serif;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #D14D54;
    }
}

@media screen and (width: 700) {
    #mc_embed_signup .mc-field-group {
        width: 100%;
        float: none;
        padding-right: 0;
    }
}
