@font-face {
    font-family: "Roboto Regular";
    src: url("../../fonts/Roboto-Regular.ttf") format('truetype');;
}

@font-face {
    font-family: "Roboto Light";
    src: url("../../fonts/Roboto-Light.ttf") format('truetype');;
}

@font-face {
    font-family: "Roboto Medium";
    src: url("../../fonts/Roboto-Medium.ttf") format('truetype');;
}

@font-face {
    font-family: "TitilliumWeb Bold";
	src: url("../../fonts/TitilliumWeb-Bold.ttf") format('truetype');;
}

@font-face {
    font-family: "TitilliumWeb Light";
	src: url("../../fonts/TitilliumWeb-Light.ttf") format('truetype');;
}

@font-face {
    font-family: "TitilliumWeb ExtraLight";
	src: url("../../fonts/TitilliumWeb-ExtraLight.ttf") format('truetype');;
}

html, body {
	width: 100%;
	min-width: 1200px;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #0dacfe;
}

#socials {
	position: absolute;
	top: 50%;
	margin-top: -120px;
	z-index: 3;
}

#socials > a {
	display: block;
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

#socials > a:hover {
	background-position: 0 -60px;
}

#socials #facebook {
	background-image: url('../img/facebook.png');
}

#socials #twitter {
	background-image: url('../img/twitter.png');
}

#socials #linkedin {
	background-image: url('../img/linkedin.png');
}

#socials #gplus {
	background-image: url('../img/gplus.png');
}

.header {
	overflow: hidden;
	z-index: 2;
	width: 100%;
	text-align: center;
	vertical-align: top;
	padding: 25px 0;
}

.header .caption {
	display: inline-block;
	text-transform: uppercase;
	color: #ffffff;
	font: normal 40px "TitilliumWeb Light", "lucida grande", tahoma, verdana, arial, sans-serif;
	line-height: 70px;
	height: 70px;
	padding-left: 90px;
	background-repeat: no-repeat;
}

.triangle {
	margin: 0 auto;
	width: 20px;
	height: 17px;
	background-repeat: no-repeat;
	margin-bottom: -17px;
	position: relative;
	z-index: 2;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

#header {
	overflow: hidden;
	height: 703px;
	background: #040203 url('../img/header.jpg') no-repeat center;
}
	
#header #header-content {
	margin-top: 45px;
}

#header #header-content #menu {
	display: none;
	list-style-type: none;
	margin: 0;
	float: right;
}

#header #header-content #menu > li {
	display: inline;
	margin-left: 20px;
}

#header #header-content #menu > li > a {
	font: normal 16px "Roboto Regular", "lucida grande", tahoma, verdana, arial, sans-serif;
	color: #ffffff;
}

#header #header-content #menu > li > a:hover {
	text-decoration: underline;
	color: #0dacfe;
}

#header #header-content #menu > li.active > a {
	color: #0dacfe;
}

#header #header-content #event-title,
#header #header-content #date-place,
#header #header-content #slogan {
	width: 692px;
	margin: 0 auto;
	text-align: center;
}

#header #header-content #event-title {
	margin-top: 70px;
	font: normal 75px "TitilliumWeb Bold", "lucida grande", tahoma, verdana, arial, sans-serif;
	color: #ffffff;
	padding-bottom: 20px;
	border-bottom: solid 1px #828297;
}

#header #header-content #date-place {
	padding: 10px 0;
	border-bottom: solid 1px #828297;
}

#header #header-content #date-place #date,
#header #header-content #date-place #place {
	display: inline;
	color: #ffffff;
	font: normal 35px "TitilliumWeb Light", "lucida grande", tahoma, verdana, arial, sans-serif;
}

#header #header-content #date-place #date {
	padding-left: 40px;
	background: url('../img/calendar.png') left center no-repeat;
}

#header #header-content #date-place #place {
	margin-left: 35px;
	padding-left: 30px;
	background: url('../img/marker.png') left center no-repeat;
}

#header #header-content #slogan {
	color: #ffffff;
	font: normal 30px "TitilliumWeb ExtraLight", "lucida grande", tahoma, verdana, arial, sans-serif;
	padding: 25px 0;
}

#header #header-content #register-button {
	display: none;
	margin: 10px auto 0 auto;
	width: 247px;
	height: 60px;
	background: url('../img/register-button-bg.png') no-repeat;
	text-align: center;
	color: #ffffff;
	font: normal 30px "TitilliumWeb Bold", "lucida grande", tahoma, verdana, arial, sans-serif;
	line-height: 55px;
	cursor: pointer;
}

#header #call-for-papers {
	width: 190px;
	height: 50px;
	margin: 55px auto 0 auto;
}

#header #call-for-papers #button {
	background-color: #0dacfe;
	color: #ffffff;
	display: inline-block;
	padding: 8px 25px;
	font: normal 20px "Roboto Regular", "lucida grande", tahoma, verdana, arial, sans-serif;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#countdown-panel {
	width: 570px;
	height: 200px;
	margin: -55px auto 0 auto;
}

#countdown-panel .label {
	position: absolute;
	font: normal 20px "TitilliumWeb Bold", "lucida grande", tahoma, verdana, arial, sans-serif;
	color: #f05940;
}

#countdown-panel .label#days {
	margin-left: 30px;
}

#countdown-panel .label#hours {
	margin-left: 160px;
}

#countdown-panel .label#minutes {
	margin-left: 290px;
}

#countdown-panel .label#seconds {
	margin-left: 430px;
}

#about .caption {
	background-image: url('../img/about-icon.png');
}

#about-content {
	padding: 50px 0;
	width: 1000px;
	margin: 0 auto;
}

#about-content .description {
	vertical-align: top;
	width: 470px;
	font: normal 16px "Roboto Light", "lucida grande", tahoma, verdana, arial, sans-serif;
	text-align: justify;
	color: #686b70;
}

#about-content .twitter-timeline {
	vertical-align: top;
	padding-left: 30px;
	width: 500px;
	height: 700px;
}

#about-content .description #photogallery {
	margin-top: 70px;
	width: 595px;
	height: 173px;
	background: url('../img/photogallery.png') no-repeat;
}

#about, #venue {
	background-color: #0dacfe;
}

#venue .caption {
	background-image: url('../img/venue-icon.png');
}

.lightblue-triangle {
	background-image: url('../img/lightblue-triangle.png');
}

#map {
	overflow: hidden;
	color: #384d66;
	text-align: center;
	height: 700px;
}

#map #map-container {
	width: 100%;
	height: 700px;
	position: absolute;
	z-index: 0;
}

#map #map-description {
	position: relative;
	width:714px;
	height: 161px;
	margin: -240px auto 0 auto;
	z-index: 1;
	background: url('../img/map-description.png') no-repeat;
	padding: 20px;
}

#map #map-description #title {
	font: normal 20px "Roboto Medium", "lucida grande", tahoma, verdana, arial, sans-serif;
	margin: 10px 0;
}

#map #map-description #description {
	font: normal 14px "Roboto Light", "lucida grande", tahoma, verdana, arial, sans-serif;
}

#organisers {
	background-color: #2c3e50;
}

#organisers .caption {
	background-image: url('../img/organisers-icon.png');
}

#organisers-content {
	height: 250px;
}

#organisers-content .title {
	width: 1171px;
	margin: 60px auto 35px auto;
	border-bottom: solid 1px #dedede;
	padding-bottom: 30px;
	text-align: center;
	color: #2c3e50;
	font: normal 24px "TitilliumWeb-Light", "lucida grande", tahoma, verdana, arial, sans-serif;
}

#organisers-content #organisers-list {
	list-style-type: none;
	text-align: center;
}

#organisers-content #organisers-list > li {
	display: inline-block;
	width: 200px;
	height: 100px;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 25px;
	cursor: pointer;
}

#organisers-content #organisers-list > #gdg-riga {
	background-image: url('../img/gdg-riga.png');
}

#organisers-content #organisers-list > #jug {
	background-image: url('../img/jug.png');
}

#organisers-content #organisers-list > #lvoug {
	background-image: url('../img/lvoug.png');
}

#footer {
	overflow: hidden;
	background-color: #2b3032;
}

#footer #share {
	margin-left: -40px;
	position: absolite;
	text-align: center;
	list-style-type: none;
}

#footer #share > li {
	display: inline-block;
	vertical-align: top;
}

#footer #share > li.twitter {
}

#footer #share > li.facebook {
	margin-right: 20px;
}

#footer #share > li.gplus {
}

#footer #share > li.in {
}

#footer #footer-logo {
	background: url('../img/footer-logo-bg.png') repeat-x;
	height: 145px;
}

#footer #footer-logo #logo {
	height: 204px;
	width: 250px;
	margin: 0 auto;
	background: #2b3032 url('../img/logo.png') no-repeat center;
}

#footer #footer-description {
	font: normal 15px "Roboto-Light", "lucida grande", tahoma, verdana, arial, sans-serif;
	text-align: center;
	color: #ffffff;
}

#footer #footer-description > a {
	color: #0dacfe;
}

#footer #copyright {
	margin: 20px 0 10px 0;
	font: normal 15px "Roboto-Light", "lucida grande", tahoma, verdana, arial, sans-serif;
	color: #4a4d4e;
	text-align: center;
}

/* Decorations */

.triangle-before {
	position: absolute;
	height: 27px;
	width: 100%;
	background: url('../img/triangle-before.png') no-repeat;
	z-index: 1;
}

.triangle-after {
	height: 34px;
	background-color: #e7e7e7;
	background-image: url('../img/triangle-after.png');
	background-repeat: no-repeat;
}

#fb_login_button { 
    width: 80px; 
}
#fb_login_button span, 
#fb_login_button iframe {
    width: 80px !important;
    height: 25px !important;
}

.xdsoft_space {
	width: 30px !important;
}