html, body {
	width: 100%;
	min-width: 1200px;
	margin: 0;
	padding: 0;
}

a {text-decoration: none; color: #0dacfe;}

.left, .right {display: inline-block; vertical-align: top;}
.left {margin-right: -4px;}

article > .title {
    width: 1171px;
    margin: 60px auto 35px auto;
    padding-bottom: 30px;
    border-bottom: solid 1px #dedede;
    text-align: center;
    color: #2c3e50;
    font: 200 24px "Titillium Web", "lucida grande", tahoma, verdana, arial, sans-serif;
}

#socials {
	position: fixed;
	top: 51%;
	margin-top: -120px;
	z-index: 3;
}

#socials a {
	display: block;
	width: 60px;
	height: 60px;
    background: no-repeat 0 0;
}

#socials a:hover {background-position: 0 -60px;}
#socials a:nth-child(1) {background-image: url('../img/facebook.png');}
#socials a:nth-child(2) {background-image: url('../img/twitter.png');}
#socials a:nth-child(3) {background-image: url('../img/linkedin.png');}
#socials a:nth-child(4) {background-image: url('../img/gplus.png');}

/*
#right-menu, #socials {
    opacity: 0.7;
    filter: alpha(opacity=50);
    -webkit-transition: opacity .75s ease-in-out;
    -moz-transition: opacity .75s ease-in-out;
    -ms-transition: opacity .75s ease-in-out;
    -o-transition: opacity .75s ease-in-out;
    transition: opacity .75s ease-in-out;
}

#right-menu:hover, #socials:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
*/

#right-menu {
    position: fixed;
    right: 0;
    top: 51%;
    margin-top: -120px;
    z-index: 3;
    background-color: #ffffff;
}

#right-menu a {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #2c3e50;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 1px;
}

#right-menu a:last-child {margin-bottom: 0;}
#right-menu a:hover {background-color: #e74c3c;}
#top-link {background-image: url('../img/right-side-menu/top.png');}
#about-link {background-image: url('../img/right-side-menu/about.png');}
#venue-link {background-image: url('../img/right-side-menu/venue.png');}
#organizers-link {background-image: url('../img/right-side-menu/sponsors.png');}

section header {
    width: 100%;
    padding: 25px 0;
	z-index: 2;
	text-align: center;
}

header.dark-blue {background-color: #2c3e50;}
header.red {background-color: #f87177;}
header.blue {background-color: #0dacfe;}

section header h1 {
	display: inline-block;
    height: 70px;
    margin: 0;
    padding-left: 90px;
	text-transform: uppercase;
	color: #ffffff;
	font: 300 40px "Titillium Web", "lucida grande", tahoma, verdana, arial, sans-serif;
	line-height: 70px;
	background-repeat: no-repeat;
}

header > .wrapper {width: 1000px; margin: 0 auto;}

body > header {
	height: 658px;
    padding-top: 45px;
	background: #040203 url('../img/header.jpg') no-repeat top center;
}

body > header .detail {
    width: 692px;
    margin: 0 auto;
    text-align: center;
}

header nav {float: right;}

header nav a {
	display: inline;
	margin-left: 20px;
    font: normal 16px Roboto, "lucida grande", tahoma, verdana, arial, sans-serif;
    color: #ffffff;
}
header nav a:hover {text-decoration: underline; color: #0dacfe;}
header nav a.active {color: #0dacfe;}

#event-title {
	margin-top: 70px;
	font: bold 75px "Titillium Web", "lucida grande", tahoma, verdana, arial, sans-serif;
	color: #ffffff;
	padding-bottom: 20px;
	border-bottom: solid 1px #828297;
}

#date-place {padding: 10px 0; border-bottom: solid 1px #828297;}
#date-place > div {
	display: inline;
	color: #ffffff;
	font: 300 35px "Titillium Web", "lucida grande", tahoma, verdana, arial, sans-serif;
    background-position: left center;
    background-repeat: no-repeat;
}

#date {
	padding-left: 40px;
	background-image: url('../img/calendar.png');
}

#place {
	margin-left: 35px;
	padding-left: 30px;
	background-image: url('../img/marker.png');
}

#slogan {
	color: #ffffff;
	font: 200 30px "Titillium Web", "lucida grande", tahoma, verdana, arial, sans-serif;
	padding: 25px 0;
}

button {
	background-color: #0dacfe;
	color: #ffffff;
	display: inline-block;
	padding: 8px 25px;
	font: normal 20px Roboto, "lucida grande", tahoma, verdana, arial, sans-serif;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
    border: none;
    cursor: pointer;
}
button:hover {background-color: #0193e0;}

#call-for-papers {display: block; margin: 55px auto 0;}

#counter {
	width: 570px;
	height: 200px;
	margin: -55px auto 0 auto;
}

#counter .label {
	position: absolute;
	font: bold 20px "Titillium Web", "lucida grande", tahoma, verdana, arial, sans-serif;
	color: #f05940;
}

#counter .label#days {margin-left: 30px;}
#counter .label#hours {margin-left: 160px;}
#counter .label#minutes {margin-left: 290px;}
#counter .label#seconds {margin-left: 430px;}

#about header h1 {background-image: url('../img/about-icon.png');}

#about-content {
    width: 1000px;
    height: 680px;
    margin: 0 auto;
	padding: 50px 0;
}

#about .left {
    width: 600px;
    font: lighter 16px Roboto, "lucida grande", tahoma, verdana, arial, sans-serif;
    text-align: justify;
    color: #686b70;
}
#about .right {width: 370px; padding-left: 30px;}

#about #gallery {
    height:173px;
    margin-top: 70px;
    background: url('../img/photogallery.png') no-repeat;
}

#speakers header h1 {background-image: url('../img/speakers-icon.png');}

#venue header h1 {background-image: url('../img/venue-icon.png');}

#map {height: 700px;}

#map #map-container {
	width: 100%;
	height: 700px;
	position: absolute;
	z-index: 0;
}

#map #map-description {
	position: absolute;
	width:714px;
	height: 161px;
    left: 50%;
    margin: 430px 0 0 -357px;
    color: #384d66;
    text-align: center;
	z-index: 1;
	background: url('../img/map-description.png') no-repeat;
	padding: 20px;
}

#map .title {
	font: 500 20px Roboto, "lucida grande", tahoma, verdana, arial, sans-serif;
	margin: 10px 0;
}

#map .description {
	font: lighter 14px Roboto, "lucida grande", tahoma, verdana, arial, sans-serif;
}

#organizers header h1 {background-image: url('../img/organizers-icon.png');}
#organizers ul {list-style-type: none; text-align: center;}

#organizers li {
	display: inline-block;
	width: 200px;
	height: 100px;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 25px;
	cursor: pointer;
}

#organizers #gdg-riga {background-image: url('../img/gdg-riga.png');}
#organizers #jug {background-image: url('../img/jug.png');}
#organizers #lvoug {background-image: url('../img/lvoug.png');}

.centered {text-align: center;}
#sponsors {margin-bottom: 40px;}

#footer {overflow: hidden; background-color: #2b3032;}

#footer ul {
	margin-left: -40px;
	text-align: center;
	list-style-type: none;
}

#footer li {
	display: inline-block;
	vertical-align: top;
}
#footer .facebook {margin-right: 20px;}

#footer .wrapper {
	background: url('../img/footer-logo-bg.png') repeat-x;
	height: 145px;
}

#footer .logo {
	height: 204px;
	width: 250px;
	margin: 0 auto;
	background: #2b3032 url('../img/logo.png') no-repeat center;
}

#footer .description {
	font: lighter 15px Roboto, "lucida grande", tahoma, verdana, arial, sans-serif;
	text-align: center;
	color: #ffffff;
}

#footer > a {color: #0dacfe;}

#footer .copyright {
	margin: 20px 0 10px 0;
	font: lighter 15px Roboto, "lucida grande", tahoma, verdana, arial, sans-serif;
	color: #4a4d4e;
	text-align: center;
}

#fb_login_button {width: 80px;}
#fb_login_button span,
#fb_login_button iframe {
    width: 80px !important;
    height: 25px !important;
}

.xdsoft_space {width: 30px !important;}
